# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Model files (optional but recommended)
*.pkl

# Node modules
node_modules/

# Build files
dist/
build/

# Notebook checkpoints
.ipynb_checkpoints/